.env
*.pyc
build/
dist/
htmlcov/
MANIFEST
.*.swp
*.egg-info
.idea/
coverage.xml
docs/_build
.coverage*
.python-version
.tox
.venv/
venv/
run-local.sh
db.sqlite3
junitxml_report/report.xml
notebooks/.ipynb_checkpoints/*
static/grappelli/
static/grappeli/*
static/
notebooks
staticfiles/

# Include tracked hidden files and directories in search and diff tools
!.dockerignore
!.github/
!.gitignore
!.gitlab-ci.yml
!.mypy.ini
!.pre-commit-config.yaml
!.readthedocs.yml
!.renovaterc.json
!.coveragerc

gcloud_creds.json
env.sh
.testmondata
.mise.toml
