{% extends 'wera/base.html' %} {% block content %}

<div class="d-flex align-items-center justify-content-center">
  <div class="container bg-white p-4 shadow rounded" style="max-width: 500px">
    <h2 class="text-center mb-4">
      Posting a Wera with us is free, and you can post as many Wera postings as
      you want
    </h2>
    <form method="POST" action="{% url 'wera_create_view' %}" novalidate>
      {% csrf_token %}
      <div class="mb-3">
        <label for="title" class="form-label">Wera Title</label>
        <input type="text" class="form-control" name="title" id="title" />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          class="form-control"
          name="description"
          id="description"
          rows="5"
        ></textarea>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <select class="form-select" name="location" id="location">
          <option value="">Select Location</option>
          {% for l in locations %}
          <option value="{{ l.id }}">{{ l.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <select class="form-select" name="category" id="category">
          <option value="">Select Category</option>
          {% for c in categories %}
          <option value="{{ c.id }}">{{ c.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="mt-3">
        <button type="submit" class="btn btn-primary w-100">Post Wera</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
