{% extends 'wera/base.html' %} {% load static %} {% block content %}

<div class="job_details_area pt-5">
  {% if wera %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mb-4">
        <div class="job_details_header shadow-sm p-4 rounded bg-white">
          <div class="single_jobs d-flex justify-content-between">
            <div class="jobs_left d-flex align-items-center">
              {% if wera.image %}
              <div class="thumb">
                <img
                  src="{{ wera.image }}"
                  alt="{{ wera.title }}"
                  width="50"
                  height="50"
                  class="rounded-circle"
                />
              </div>
              {% endif %}
              <div class="jobs_content ms-3">
                  <p class="text-primary">{{ wera.title }}</p>
                <div class="links_locat d-flex align-items-center mt-2">
                  <div class="location me-4">
                    <small class="m-0">
                      <i class="bi bi-geo-alt"></i> {{ wera.location }}
                    </small>
                  </div>
                  <div class="category">
                    <small class="m-0">
                      <i class="bi bi-tags"></i> {{ wera.category.name }}
                    </small>
                  </div>
                </div>
              </div>
            </div>
            <div class="jobs_right">
              <div class="apply_now">
                <a class="heart_mark" href="#"> <i class="bi bi-heart"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="descript_wrap mt-4 shadow-sm p-4 rounded bg-white">
          <div class="single_wrap">
            <p class="fw-bold lead">Description</p>
            <p>{{ wera.description }}</p>
          </div>
        </div>
      </div>

      <div class="col-lg-12 mb-4">
        <div class="job_summary shadow-sm p-4 rounded bg-white">
          <div class="summary_header">
            <p class="fw-bold lead">Summary</p>
          </div>
          <div class="job_content">
            <ul class="list-unstyled">
              <li>
                Published On:
                <span class="text-muted">{{ wera.created_at }}</span>
              </li>
              <li>
                Category:
                <span class="text-muted">{{ wera.category.name }}</span>
              </li>
              <li>
                Location: <span class="text-muted">{{ wera.location }}</span>
              </li>
            </ul>
          </div>
        </div>

        <div class="share_wrap d-flex mt-4">
          <span class="me-2">Share At:</span>
          <ul class="list-unstyled d-flex">
            <li class="me-3">
              <a href="#" class="text-decoration-none">
                <i class="bi bi-facebook"></i
              ></a>
            </li>
            <li class="me-3">
              <a href="#" class="text-decoration-none">
                <i class="bi bi-google"></i
              ></a>
            </li>
            <li class="me-3">
              <a href="#" class="text-decoration-none">
                <i class="bi bi-twitter"></i
              ></a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">
                <i class="bi bi-envelope"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>

{% endblock %}
