{% extends 'wera/base.html' %}{% load static %} {% block content %}

<!-- catagory_area -->
<div class="catagory_area">
  <div class="container">
    <div class="row cat_search">
      <div class="col-lg-3 col-md-4">
        <div class="single_input">
          <input type="text" placeholder="Search Keyword" />
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="single_input">
          <select class="wide form-select">
            <option data-display="location">Location</option>
            <option value="1">Nairobi</option>
            <option value="2">Kisumu</option>
            <option value="4">Nakuru</option>
            <option value="4">Mombasa</option>
          </select>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="single_input">
          <select class="wide form-select">
            <option data-display="category">Category</option>
            {% for c in categories %}
            <option value="{{ c.id }}">{{ c.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-lg-3 col-md-12">
        <div class="Wera_btn">
          <a href="#" class="btn btn-primary">Search</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="popular_search d-flex align-items-center">
          <span>Popular Search:</span>
          <ul>
            <li>
              <a href="#" style="text-decoration: none">design & creative</a>
            </li>
            <li><a href="#" style="text-decoration: none">marketing</a></li>
            <li>
              <a href="#" style="text-decoration: none">administration</a>
            </li>
            <li>
              <a href="#" style="text-decoration: none">teaching & education</a>
            </li>
            <li><a href="#" style="text-decoration: none">engineering</a></li>
            <li>
              <a href="#" style="text-decoration: none">software & web</a>
            </li>
            <li><a href="#" style="text-decoration: none">telemarketing</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ catagory_area -->

<!-- popular_catagory_area_start  -->
{% comment %}
<div class="popular_catagory_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section_title mb-40">
          <h3>Popular Categories</h3>
        </div>
      </div>
    </div>
    <div class="row">
      {% for j in categories %}
      <div class="col-lg-4 col-xl-3 col-md-6">
        <div class="single_catagory">
          <a href="{% url 'category_detail' %}">
            <h4>{{ c.name }}</h4>
          </a>
          <p><span></span> Available positions</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endcomment %}

<div class="job_listing_area p-5">
  <div class="container">
    <div class="job_lists">
      <div class="row">
        {% for j in weras %}
        <div class="col-lg-12 col-md-12">
          <div class="single_jobs white-bg d-flex justify-content-between">
            <div class="jobs_left d-flex align-items-center">
              <div class="jobs_conetent">
                <a href="{% url 'wera_detail' j.pk %}">
                  <h4>{{ j.title }}</h4>
                </a>
                <div class="links_locat d-flex align-items-center">
                  <div class="location">
                    <p><i class="bi bi-map-marker"></i>{{ j.location }}</p>
                  </div>
                  <div class="location">
                    <p><i class="bi bi-clock-o"></i>{{ j.Wera_type }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="jobs_right">
              <div class="apply_now">
                <a class="heart_mark" href="#"> <i class="bi bi-heart"></i> </a>
              </div>
              <div class="date">
                <p>{{ j.created_at }}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- Wera_listing_area_end  -->

{% comment %}
<div class="top_companies_area">
  <div class="container">
    <div class="row align-items-center mb-40">
      <div class="col-lg-6 col-md-6">
        <div class="section_title">
          <h3>Top Companies</h3>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="brouse_Wera text-right">
          <a href="" class="boxed-btn4">Browse More</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-xl-3 col-md-6">
        <div class="single_company">
          <div class="thumb">
            <img src="img/svg_icon/5.svg" alt="" />
          </div>
          <a href="Weras.html">
            <h3>Snack Studio</h3>
          </a>
          <p><span>50</span> Available position</p>
        </div>
      </div>
      <div class="col-lg-4 col-xl-3 col-md-6">
        <div class="single_company">
          <div class="thumb">
            <img src="img/svg_icon/4.svg" alt="" />
          </div>
          <a href="Weras.html">
            <h3>Snack Studio</h3>
          </a>
          <p><span>50</span> Available position</p>
        </div>
      </div>
      <div class="col-lg-4 col-xl-3 col-md-6">
        <div class="single_company">
          <div class="thumb">
            <img src="img/svg_icon/3.svg" alt="" />
          </div>
          <a href="Weras.html">
            <h3>Snack Studio</h3>
          </a>
          <p><span>50</span> Available position</p>
        </div>
      </div>
      <div class="col-lg-4 col-xl-3 col-md-6">
        <div class="single_company">
          <div class="thumb">
            <img src="img/svg_icon/1.svg" alt="" />
          </div>
          <a href="Weras.html">
            <h3>Snack Studio</h3>
          </a>
          <p><span>50</span> Available position</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endcomment %} {% endblock %}
