{% extends 'wera/base.html' %} {% block title %} Wera Feed {% endblock %}  {% load static %} {% block content %}

<div class="category_area mb-4">
  <!-- Job Listing Area -->
  <div class="job_listing_area">
    <div class="container">
      <div class="job_lists">
        <div class="d-lg-none">
          <p class="lead">Weras Feed</p>
          <hr />
        </div>
        <div class="row">
          {% for j in weras %}
          <div class="col-lg-12 mb-4">
            <div
              class="single_jobs white-bg d-flex justify-content-between align-items-center shadow-sm p-4 rounded"
            >
              <div class="jobs_left d-flex align-items-center">
                {% if j.image %}
                <div class="thumb">
                  <img
                    src="{{ j.image }}"
                    alt="{{ j.title }}"
                    width="50"
                    height="50"
                    class="rounded-circle"
                  />
                </div>
                {% endif %}

                <div class="jobs_content">
                  <a href="{% url 'wera_detail' j.slug %}">
                    <p class="text-primary">{{ j.title }}</p>
                  </a>
                  <div class="links_locat d-flex align-items-center mt-2">
                    <div class="location me-4">
                      <small class="m-0">
                        <i class="bi bi-geo-alt"></i> {{ j.location }}
                      </small>
                    </div>
                    <div class="category">
                      <small class="m-0">
                        <i class="bi bi-tags"></i> {{ j.category.name }}
                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="jobs_right d-flex align-items-center">
                <div class="date">
                  <small class="text-muted" data-created-at="{{ j.created_at|date:'c' }}"></small>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

 
</div>

{% endblock %}
