{% extends 'wera/base.html' %} {% block content %}
<div class="d-flex container">
  <div class="row w-100">
    <!-- Form Column -->
    <div class="col-md-6 p-4">
      <h2 class="text-center mb-4">Tell others about a form in your mtaa</h2>
      <form method="post" action="{% url 'form_mtaani_create' %}">
        {% csrf_token %}
        <div class="row g-2">
          <div class="col-12 mb-2">
            <div class="form-group">
              <label for="description">Description</label>
              <textarea
                class="form-control"
                name="description"
                id="description"
                cols="30"
                rows="5"
                required
              ></textarea>
            </div>
            <div id="help" class="form-text">
              Make it short, we accept up to 30 characters
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="location" class="form-label">Location</label>
              <select class="form-select" name="location" id="location" required>
                <option value="">Select Location</option>
                {% for l in locations %}
                <option value="{{ l.id }}">{{ l.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="category">Category</label>
              <select name="category" id="category" class="form-select" required>
                <option value="" selected>Select Category</option>
                {% for c in categories %}
                <option value="{{ c.id }}">{{ c.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="form-group mt-3">
          <button type="submit" class="btn btn-primary w-100">Post Form</button>
        </div>
      </form>
    </div>

    <!-- Posted Data Column -->
    <div class="col-md-6 p-4 rounded">
      <h2 class="text-center mb-4">Form Mtaani</h2>
      {% if form_mtaanis %}
        {% for j in form_mtaanis %}
        <div class="col-lg-12 mb-4">
          <div
            class="single_jobs white-bg d-flex justify-content-between align-items-center shadow-sm p-4 rounded"
          >
            <div class="jobs_left d-flex align-items-center">
              <div class="jobs_content">
                <a href="{% url 'form_mtaani_detail' j.pk %}">
                  <h4 class="text-primary">{{ j.form }}</h4>
                </a>
                <div class="links_locat d-flex align-items-center mt-2">
                  <div class="location me-4">
                    <p class="m-0">
                      <i class="bi bi-geo-alt"></i> {{ j.location }}
                    </p>
                  </div>
                  <div class="category">
                    <p class="m-0">
                      <i class="bi bi-tags"></i> {{ j.category.name }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="jobs_right d-flex align-items-center">
              <div class="apply_now me-3">
                <a class="heart_mark" href="#"> <i class="bi bi-heart"></i> </a>
              </div>
              <div class="date">
                <p class="text-muted">{{ j.created_at }}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </ul>
      {% else %}
      <p class="text-center">No form posted yet. Be the first to post!</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
