{% extends 'wera/base.html' %} {% block title %} Form Mtaani Feed {% endblock %}   {% block content %}

<div class="container pt-2">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <p class="lead fw-bold">Form Mtaani Feed</p>
    <a href="{% url 'form_mtaani_create' %}" class="btn btn-primary"
      >Toa form <i class="bi bi-arrow-right-short"></i
    ></a>
  </div>
  <hr />

  <div class="row g-4">
    {% if form_mtaanis %} {% for j in form_mtaanis %}
    <div class="col-lg-12 mb-4">
      <div
        class="single_jobs white-bg d-flex justify-content-between align-items-center shadow-sm p-4 rounded"
      >
        <div class="jobs_left d-flex align-items-center">
          <div class="jobs_content">
            <p class="text-primary">{{ j.form }}</p>

            <div class="links_locat d-flex align-items-center mt-2">
              <div class="location me-4">
                <small class="m-0">
                  <i class="bi bi-geo-alt"></i> {{ j.location }}
                </small>
              </div>
              <div class="category">
                <small class="m-0">
                  <i class="bi bi-tags"></i> {{ j.category.name }}
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="jobs_right d-flex align-items-center">
          <div class="apply_now me-3">
            <a class="heart_mark" href="#"> <i class="bi bi-heart"></i> </a>
          </div>
          <div class="date">
            <small class="text-muted" data-created-at="{{ j.created_at|date:'c' }}"></small>
          </div>
        </div>
      </div>
    </div>
    {% endfor %} {% else %}
    <p class="lead mb-4 text-center">Share about any job findings...</p>
    {% endif %}
  </div>

  <!-- <div class="text-center p-3">
    <button class="btn btn-outline-primary">Load more...</button>
  </div> -->
</div>

{% endblock %}
